.filterBottom {
    &__left {
        background-color: $color-gray-light;
        padding: 2rem;

        h3 {
            font-size: 1.8rem;
            font-weight: 500;
        }
    }

    &__collapse {
        &:not(:first-child) {
            margin-top: 1rem;
        }

        & a {
            background-color: $color-white;
            border-radius: 0.6rem;
            padding: 1rem;
            width: 100%;
            border-radius: 0.6rem;
            position: relative;
            color: $color-black;
            font-size: 1.6rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
          /*   &:after {
                content: " \02EF";
                position: absolute;
                color: $color-black;
                right: 2rem;
                top: 0;
                transform: translateY(-50%);
                font-size: 5rem;
            } */

            &:hover {
                text-decoration: none;
            }
        }

        .form-check {
            width: 100%;
            padding:1rem;
            position: relative;
            border-bottom: 0.6px solid $color-gray-light;
            border-radius: 0.6rem;
            background-color: $color-white;
           overflow: hidden;
            .form-check-label {
                font-size: 1.5rem;
                cursor: pointer;
                margin-left: 3rem;
              
            }

            .form-check-input {
                position: absolute;
                left: 3rem;
            }

            &:first-child {
                border-top: 0.6px solid $color-gray-light;
            }
        }
    }
    &__right {
        padding: 2rem;
    }

    &__top {
        display: flex;
        border-bottom: 1.3px solid $color-gray-light;
        a {
            font-size: 1.4rem;
            color: $color-secondary;
            transition: all 0.3s;
            padding-bottom: 1.3rem;
            border-bottom: 1.3px solid transparent;

            &:hover {
                color: $color-primary;
                border-bottom: 1.3px solid $color-primary;
                text-decoration: none;
            }
            &:active,
            &:focus {
                color: $color-primary;
                border-bottom: 1.3px solid $color-primary;
            }

            &:not(:first-child) {
                margin-left: 1rem;
            }
        }

        .comparison {
            color: $color-white;
            padding: 1rem;
            border-radius: 0.6rem;
            background-color: $color-yellow;
            border: 1px solid $color-yellow;
            margin-top: -1rem;
            &:hover {
                background-color: $color-white;
                color: $color-yellow;
                border: 1px solid $color-yellow;
            }
        }
    }
}
