.filterTop {
  padding: 2rem 3.5rem;
  background-image: url("../../img/back1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  &__search {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    height: 5.6rem;
    background-color: $color-blue;
    color: $color-white;
    width: 18%;
    border-radius: 0.6rem;
    margin-left: auto;
    margin-top: 0;
    border: none;
    transition: all 0.4s;
    outline: none;

    &:hover {
      text-decoration: none;
      background-color: $color-yellow;
      color: $color-white;
    }
  }

  .invalidInputs {
    border: 1px solid;
    border-color: #fd0000 !important;
  }
}
