.tabFirst {
    border-bottom: none !important;

    .nav-item {
        &:not(:first-child) {
            margin-left: 2.5rem;
        }
    }

    .nav-link {
        color: $color-white ;
        font-size: 2.4rem;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 0.3s;
        border: 1px solid $color-gray-light;
        min-width: 15rem;
    

        & img{
            width: 5.5rem;
            height: 5.5rem;
            object-fit: contain;
        }

        & span{
            margin-top: 1.5rem;
        }

        &:hover {
            background-color: $color-yellow;
            color: $color-primary;
        }
    }

    .active {
        background-color: $color-yellow !important;
        color: $color-primary !important;
        border: 1px solid $color-gray-light !important;
    }
}


.tabSecond{
    margin-top: 3rem;
    position: relative;
    border-bottom: none !important;
    z-index: 22;
    .nav-link {
        background-color: $color-white !important;
        font-size: 2.4rem;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 0.3s;
        border: none !important;
        border-radius: .6rem;
        min-width: 8rem;
        color: $color-primary;
        
    
        &:hover {
            background-color: $color-yellow !important;
            color: $color-primary !important;
        }
    }

    .active {
        background-color: $color-yellow !important;
        color: $color-primary !important;
        border:none !important;
    }

    &:after{
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 11%;
        z-index: -1;
        height: 100%;
        display: block;
        background-color: $color-white;
        border-radius: .6rem;
    }

}