<footer class="footer">
  <div class="footer__top">
    <div class="container">

      <div class="row">
        <div class="col-md-3">
          <h4>
            Siğorta şirkətləri
          </h4>
          <ul>
            <li>
              <a href="#">
                Haqqımızda
              </a>
            </li>
            <li>
              <a href="#">
                Xidmətlər
              </a>
            </li>
            <li>
              <a href="#">
                Məhsullar
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h4>
            Siğorta şirkətləri
          </h4>
          <ul>
            <li>
              <a href="#">
                Haqqımızda
              </a>
            </li>
            <li>
              <a href="#">
                Xidmətlər
              </a>
            </li>
            <li>
              <a href="#">
                Məhsullar
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h4>
            Siğorta şirkətləri
          </h4>
          <ul>
            <li>
              <a href="#">
                Haqqımızda
              </a>
            </li>
            <li>
              <a href="#">
                Xidmətlər
              </a>
            </li>
            <li>
              <a href="#">
                Məhsullar
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="footer__sosialList">
            <li>
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fas fa-play"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="img/foot_logo.png" alt="">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="footer__bottom">

      <div class="footer__copyLeft">
        <a href="#">
          Copyright 2019
        </a>
        <a href="#">
          sigortatap.com
        </a>
      </div>
      <div class="footer__copyRight">
        <a href="#">
          privacy policy >
        </a>
        <a href="#">
          privacy policy >
        </a>
      </div>
    </div>
  </div>
</footer>




<script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="libs/jquery/dist/jquery.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="libs/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8" async defer></script>


<script src="libs/pg-calendar/dist/js/pignose.calendar.full.js"></script>
<script src="libs/pg-calendar/dist/js/pignose.calendar.js"></script>

<script src="libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
<script src="libs/pg-calendar/dist/js/pignose.calendar.js"></script>

<script src="libs/Font-Awesome/all.js"></script>
<script src="libs/Font-Awesome/brand.js"></script>
<script src="libs/Font-Awesome/regular.js"></script>
<script src="js/all.min.js"></script>

<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
<script>
  window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
  ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>

</html>