<header class="header">
    <div class="headerTop">
        <div class="container d-flex justify-content-between">

            <div class="headerTop__left">
                <a href="mailto:">
                    info@sigortap.com
                </a>
                <a href="#">
                    +944 555 55 55
                </a>
            </div>
            <div class="headerTop__right">
                <a href="#">
                    Daxil ol
                </a>
                <a href="#">
                    Qeydiyyatdan keç
                </a>
                <a href="#">
                    Şirkət Girişi
                </a>
            </div>
        </div>
    </div>
    
        <nav class="header__navbar ">
            <div class="container d-flex justify-content-between align-items-center">
            <div class="header__logoBox">
                <a href="#" class="logo">
                    <img src="img/logo_new.jpg" alt="">
                </a>
            </div>

            <ul class="header__nav nav">
                <li class="nav__item">
                    <a href="#" class="nav__link">
                        Onlayn sigorta
                    </a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">
                        Faydalı
                    </a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">
                        Əlaqə
                    </a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">
                        <img src="img/search.png" alt="">
                    </a>
                </li>
            </ul>


        </nav>


    </div>
</header>