$aznb:jaznb;
$gtp:GothamPro;
$rbt:Roboto-Regular;

// Colors
$color-primary:#062232;
$color-secondary:#46525c; 

$color-yellow:#f7c97b;
$color-blue:#4e90c7;
$color-white:#fff;
$color-black:#000;
$color-gray-light:#f5f5f5; 